@model TDTD_Lesson05_Video.Models.TDTDCustomer

@{
    ViewBag.Title = "TDTDDetail";
}

<h2>Trang thông tin khách hàng</h2>

<div>
    <h4>Thông tin khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfBirth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "TDTDEdit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
