@model TdtdBaiKiemTraGK.Models.tdtdKhoa

@{
    ViewBag.Title = "TdtdDetails";
}

<h2>Details</h2>

<div>
    <h4>tdtdKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TdtdTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TdtdTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TdtdTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TdtdTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "TdtdEdit", new { id = Model.TdtdMaKH }) |
    @Html.ActionLink("Back to List", "TdtdIndex")
</p>
