<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài tập tự làm 3.1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Bài tập tự làm 3.1", "Index", "TDTD_BTTL_3_1_", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("In ra các số nguyên tố từ 1 tới 100", "PrintPrimeNumber", "TDTD_BTTL_3_1_", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("In ra các giai thừa từ 1 tới 10", "PrintFactorial", "TDTD_BTTL_3_1_", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("In ra bảng cửu chương từ 2 tới 9", "PrintMultiplicationTable", "TDTD_BTTL_3_1_", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
