@model IEnumerable<Lesson06_1.Models.TDTDSong>

@{
    ViewBag.Title = "TDTD : Danh sách bài hát";
}

<h2>TDTDIndex</h2>

<p>
    @Html.ActionLink("Tạo mới", "TDTDCreate")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TDTDTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDTDAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDTDArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDTDYearRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TDTDTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDTDAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDTDArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDTDYearRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
